<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.animo.dao.BorrowapplyMapper" >
  <resultMap id="BaseResultMap" type="com.animo.pojo.Borrowapply" >
    <id column="baid" property="baid" jdbcType="INTEGER" />
    <result column="rname" property="rname" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="bzid" property="bzid" jdbcType="INTEGER" />
    <result column="cktime" property="cktime" jdbcType="TIMESTAMP" />
    <result column="ckstatus" property="ckstatus" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="term" property="term" jdbcType="INTEGER" />
    <result column="deadline" property="deadline" jdbcType="TIMESTAMP" />
    <result column="resint1" property="resint1" jdbcType="INTEGER" />
    <result column="resint2" property="resint2" jdbcType="INTEGER" />
    <result column="resstr1" property="resstr1" jdbcType="VARCHAR" />
    <result column="resstr2" property="resstr2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    baid, rname, money, uid, bzid, cktime, ckstatus, type, term, deadline, resint1, resint2, 
    resstr1, resstr2
  </sql>
  <select id="selectByPrimaryKey" resultType="borrowapply" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from borrowapply
    where baid = #{baid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from borrowapply
    where baid = #{baid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.animo.pojo.Borrowapply" >
    insert into borrowapply (baid, rname, money, 
      uid, bzid, cktime, 
      ckstatus, type, term, 
      deadline, resint1, resint2, 
      resstr1, resstr2)
    values (#{baid,jdbcType=INTEGER}, #{rname,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, 
      #{uid,jdbcType=INTEGER}, #{bzid,jdbcType=INTEGER}, #{cktime,jdbcType=TIMESTAMP}, 
      #{ckstatus,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{term,jdbcType=INTEGER}, 
      #{deadline,jdbcType=TIMESTAMP}, #{resint1,jdbcType=INTEGER}, #{resint2,jdbcType=INTEGER}, 
      #{resstr1,jdbcType=VARCHAR}, #{resstr2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.animo.pojo.Borrowapply" >
    <selectKey keyProperty="baid" resultType="int" order="AFTER">
      SELECT LAST_INSERT_ID() AS ID
    </selectKey>
    insert into borrowapply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="baid != null" >
        baid,
      </if>
      <if test="rname != null" >
        rname,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="bzid != null" >
        bzid,
      </if>
      <if test="cktime != null" >
        cktime,
      </if>
      <if test="ckstatus != null" >
        ckstatus,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="term != null" >
        term,
      </if>
      <if test="deadline != null" >
        deadline,
      </if>
      <if test="resint1 != null" >
        resint1,
      </if>
      <if test="resint2 != null" >
        resint2,
      </if>
      <if test="resstr1 != null" >
        resstr1,
      </if>
      <if test="resstr2 != null" >
        resstr2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="baid != null" >
        #{baid,jdbcType=INTEGER},
      </if>
      <if test="rname != null" >
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="bzid != null" >
        #{bzid,jdbcType=INTEGER},
      </if>
      <if test="cktime != null" >
        #{cktime,jdbcType=TIMESTAMP},
      </if>
      <if test="ckstatus != null" >
        #{ckstatus,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="term != null" >
        #{term,jdbcType=INTEGER},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="resint1 != null" >
        #{resint1,jdbcType=INTEGER},
      </if>
      <if test="resint2 != null" >
        #{resint2,jdbcType=INTEGER},
      </if>
      <if test="resstr1 != null" >
        #{resstr1,jdbcType=VARCHAR},
      </if>
      <if test="resstr2 != null" >
        #{resstr2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.animo.pojo.Borrowapply" >
    update borrowapply
    <set >
      <if test="rname != null" >
        rname = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="bzid != null" >
        bzid = #{bzid,jdbcType=INTEGER},
      </if>
      <if test="cktime != null" >
        cktime = #{cktime,jdbcType=TIMESTAMP},
      </if>
      <if test="ckstatus != null" >
        ckstatus = #{ckstatus,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="term != null" >
        term = #{term,jdbcType=INTEGER},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="resint1 != null" >
        resint1 = #{resint1,jdbcType=INTEGER},
      </if>
      <if test="resint2 != null" >
        resint2 = #{resint2,jdbcType=INTEGER},
      </if>
      <if test="resstr1 != null" >
        resstr1 = #{resstr1,jdbcType=VARCHAR},
      </if>
      <if test="resstr2 != null" >
        resstr2 = #{resstr2,jdbcType=VARCHAR},
      </if>
    </set>
    where baid = #{baid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.animo.pojo.Borrowapply" >
    update borrowapply
    set rname = #{rname,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      uid = #{uid,jdbcType=INTEGER},
      bzid = #{bzid,jdbcType=INTEGER},
      cktime = #{cktime,jdbcType=TIMESTAMP},
      ckstatus = #{ckstatus,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      term = #{term,jdbcType=INTEGER},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      resint1 = #{resint1,jdbcType=INTEGER},
      resint2 = #{resint2,jdbcType=INTEGER},
      resstr1 = #{resstr1,jdbcType=VARCHAR},
      resstr2 = #{resstr2,jdbcType=VARCHAR}
    where baid = #{baid,jdbcType=INTEGER}
  </update>

  <update id="updateTime" parameterType="borrowapply">
   <![CDATA[
      UPDATE borrowapply
      SET ckstatus=#{ckstatus},
      cktime=#{cktime} where baid=#{baid}
    ]]>
  </update>

  <select id="three" resultType="com.animo.vo.BorrowapplyVo">
    <![CDATA[
      SELECT bo.ckstatus,bd.bdid,bo.uid,b.bzid,bo.baid,b.bzname,bd.cpname,bo.money,bd.money AS ymoney,bo.term,bd.nprofit
       FROM borrowapply AS bo,borrowdetail AS bd,bz AS b WHERE bo.baid=bd.baid AND bo.bzid=b.bzid AND bo.bzid=#{bzid}
      ANd bo.ckstatus in (2,4,5)
      ORDER BY RAND() LIMIT 3
    ]]>
  </select>

  <sql id="form">
    FROM borrowapply AS bo,borrowdetail AS bd,bz AS b
    WHERE bo.baid=bd.baid AND bo.bzid=b.bzid
  </sql>

  <sql id="if">
    <if test="query!=null and query.bzid!=null and query.bzid!= ''">
      AND b.bzid=#{query.bzid}
    </if>
    <if test="query!=null and query.qprofit!=null or query.hprofit!=null ">
      AND bd.nprofit between #{query.qprofit} AND #{query.hprofit}
    </if>
    <if test="query!=null and query.qterm!=null or query.hterm!=null">
      AND bo.term between #{query.qterm} AND #{query.hterm}
    </if>
    <if test="query!=null and query.cpname!=null and query.cpname!='' ">
      AND bd.cpname like concat('%', #{query.cpname}, '%')
    </if>
  </sql>

  <select id="listPagerCriteria" resultType="com.animo.vo.BorrowapplyVo">
    <![CDATA[
        SELECT bo.ckstatus,bo.uid,b.bzid,bo.baid,b.bzname,bd.bdid,bd.cpname,bo.money,bd.money AS ymoney,bd.way,bo.term,bd.nprofit
    ]]>
    <include refid="form"></include>
    <include refid="if"></include>
    limit #{pager.beginIndex}, #{pager.pageSize}
  </select>

  <select id="countCriteria" resultType="long" parameterType="com.animo.query.BorrowapplyQuery">
    select count(bo.baid)
    <include refid="form" />
    <include refid="if" />
  </select>

  <select id="getById" resultType="com.animo.vo.BorrowapplyMoneyVo">
    <![CDATA[
      SELECT b.money,bd.money AS mmoney FROM borrowapply AS b,borrowdetail AS bd
      WHERE b.baid = bd.baid AND b.baid = #{baid}
    ]]>
  </select>


  <sql id="Base_column_list1">
    ba.baid, ba.rname, ba.money, b.bzname, ba.uid, ba.ckstatus, ba.cktime, ba.type, ba.term,
    ba.deadline, bd.cpname, bd.way, bd.nprofit, bd.money as moneyCount,
    bd.fpic, bd.ypic, bd.qpic, bd.tpic, bd.mpurpose, bd.hksource, bd.suggest, bd.xmdes, bd.guarantee
  </sql>
  <select id="getByIdVo" parameterType="java.lang.Integer" resultType="com.animo.vo.BorrowApplyDetail">
    select
    <include refid="Base_column_list1" />
    from borrowapply ba, bz b, borrowdetail bd
    where b.bzid = ba.bzid and bd.baid = ba.baid and ba.baid = #{id,jdbcType=INTEGER}
  </select>

  <select id="getByCkstaus" parameterType="integer" resultType="com.animo.vo.BorrowApplyDetail">
    select
    <include refid="Base_column_list1" />
    from borrowapply ba, bz b, borrowdetail bd
    where b.bzid = ba.bzid and bd.baid = ba.baid and ba.baid = #{id,jdbcType=INTEGER}
    and ckstatus=#{ckstatus}
  </select>

  <select id="listPager" resultType="com.animo.vo.BorrowApplyDetail">
    SELECT
      <include refid="Base_column_list1" />
      from borrowapply ba, bz b, borrowdetail bd
      where b.bzid = ba.bzid and bd.baid = ba.baid AND ba.ckstatus in (2,4,5)  limit #{beginIndex}, #{pageSize}
  </select>

  
  <select id="count" resultType="long">
    <![CDATA[
      SELECT count(baid) FROM borrowapply WHERE   ckstatus in (2,4,5)
    ]]>
  </select>

  <update id="updateStatusAndTime">
    <![CDATA[
      UPDATE borrowapply SET ckstatus=#{status},cktime=#{ckTime}
      where baid=#{id}
    ]]>
  </update>

  <update id="updateStatus">
      <![CDATA[
      UPDATE borrowapply SET ckstatus=#{status}
      where baid=#{baid}
    ]]>
  </update>

  <select id="list" resultType="com.animo.pojo.Borrowapply">
    <![CDATA[
      SELECT * FROM borrowapply WHERE ckstatus=#{ckstatus}
    ]]>
  </select>

  <select id="listByJuid" resultType="com.animo.vo.BorrowapplyVo">
    <![CDATA[
      SELECT bbz.bzname,b.baid,b.uid,bd.bdid, bd.cpname,b.money,bd.money AS ymoney, b.term,b.deadline FROM borrowapply AS b,borrowdetail AS bd,bz AS bbz WHERE b.baid=bd.baid AND b.bzid=bbz.bzid AND uid=#{juid} limit #{pager.beginIndex}, #{pager.pageSize}
    ]]>
  </select>

  <select id="countByJuid" resultType="long">
    <![CDATA[
      SELECT count(b.baid) FROM borrowapply AS b,borrowdetail AS bd WHERE b.baid=bd.baid AND uid=#{juid}
    ]]>
  </select>
  <select id="borrowingList" resultType="com.animo.vo.BorrowingVO">
    select ba.baid, ba.uid as juid, ba.cktime, ba.term,
    ba.deadline, bd.way, bd.nprofit, bd.money as moneyCount from borrowapply ba, borrowdetail bd
    where bd.baid = ba.baid and ba.ckstatus = 2
  </select>
</mapper>