<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.animo.dao.DxmodelMapper" >
  <resultMap id="BaseResultMap" type="com.animo.pojo.Dxmodel" >
    <id column="dxid" property="dxid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dxid, content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dxmodel
    where dxid = #{dxid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dxmodel
    where dxid = #{dxid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.animo.pojo.Dxmodel" >
    insert into dxmodel (dxid, content)
    values (#{dxid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.animo.pojo.Dxmodel">

   insert into dxmodel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dxid != null" >
        dxid,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    <if test="dxid != null" >
        #{dxid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.animo.pojo.Dxmodel" >
    update dxmodel
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where dxid = #{dxid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.animo.pojo.Dxmodel" >
    update dxmodel
    set content = #{content,jdbcType=VARCHAR}
    where dxid = #{dxid,jdbcType=INTEGER}
  </update>
  <select id="listPager" resultType="com.animo.pojo.Dxmodel" parameterType="com.animo.common.Pager">
  <![CDATA[
      SELECT  * FROM dxmodel limit #{beginIndex},#{pageSize}
    ]]>
</select>
  <select id="count" resultType="long">
    <![CDATA[
      SELECT  count(dxid) FROM dxmodel
    ]]>
  </select>
</mapper>