<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.animo.dao.FriendMapper" >
  <resultMap id="BaseResultMap" type="com.animo.pojo.Friend" >
    <id column="fid" property="fid" jdbcType="INTEGER" />
    <result column="furl" property="furl" jdbcType="VARCHAR" />
    <result column="fpic" property="fpic" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fid, furl, fpic
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from friend
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from friend
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.animo.pojo.Friend" >
    insert into friend (fid, furl, fpic
      )
    values (#{fid,jdbcType=INTEGER}, #{furl,jdbcType=VARCHAR}, #{fpic,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.animo.pojo.Friend" >
    insert into friend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        fid,
      </if>
      <if test="furl != null" >
        furl,
      </if>
      <if test="fpic != null" >
        fpic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="furl != null" >
        #{furl,jdbcType=VARCHAR},
      </if>
      <if test="fpic != null" >
        #{fpic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.animo.pojo.Friend" >
    update friend
    <set >
      <if test="furl != null" >
        furl = #{furl,jdbcType=VARCHAR},
      </if>
      <if test="fpic != null" >
        fpic = #{fpic,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.animo.pojo.Friend" >
    update friend
    set furl = #{furl,jdbcType=VARCHAR},
      fpic = #{fpic,jdbcType=VARCHAR}
    where fid = #{fid,jdbcType=INTEGER}
  </update>

  <select id="listPager" resultType="com.animo.pojo.Friend" parameterType="com.animo.common.Pager">
    select  f.fid, f.furl, f.fpic from friend f limit #{beginIndex}, #{pageSize}
  </select>

  <select id="count" resultType="long">
    select count(fid) from friend
  </select>

  <select id="list" resultType="com.animo.pojo.Friend">
    SELECT * FROM friend
  </select>
</mapper>