<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.animo.dao.HkbMapper" >
  <resultMap id="BaseResultMap" type="com.animo.pojo.Hkb" >
    <id column="hkid" property="hkid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="rname" property="rname" jdbcType="VARCHAR" />
    <result column="cpname" property="cpname" jdbcType="VARCHAR" />
    <result column="rnum" property="rnum" jdbcType="INTEGER" />
    <result column="tnum" property="tnum" jdbcType="INTEGER" />
    <result column="ytime" property="ytime" jdbcType="TIMESTAMP" />
    <result column="rtime" property="rtime" jdbcType="TIMESTAMP" />
    <result column="bzname" property="bzname" jdbcType="VARCHAR" />
    <result column="ybx" property="ybx" jdbcType="DECIMAL" />
    <result column="rbx" property="rbx" jdbcType="DECIMAL" />
    <result column="ylx" property="ylx" jdbcType="DECIMAL" />
    <result column="rlx" property="rlx" jdbcType="DECIMAL" />
    <result column="ybj" property="ybj" jdbcType="DECIMAL" />
    <result column="rbj" property="rbj" jdbcType="DECIMAL" />
    <result column="yfc" property="yfc" jdbcType="DECIMAL" />
    <result column="rfc" property="rfc" jdbcType="DECIMAL" />
    <result column="yucount" property="yucount" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="baid" property="baid" jdbcType="INTEGER" />
    <result column="yustartime" property="yustartime" jdbcType="TIMESTAMP" />
    <result column="huid" property="huid" jdbcType="INTEGER" />
    <result column="resint1" property="resint1" jdbcType="INTEGER" />
    <result column="resint2" property="resint2" jdbcType="INTEGER" />
    <result column="resstr1" property="resstr1" jdbcType="VARCHAR" />
    <result column="resstr2" property="resstr2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    hkid, uid, rname, cpname, rnum, tnum, ytime, rtime, bzname, ybx, rbx, ylx, rlx, ybj, 
    rbj, yfc, rfc, yucount, status, baid, yustartime, huid, resint1, resint2, resstr1, 
    resstr2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hkb
    where hkid = #{hkid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hkb
    where hkid = #{hkid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.animo.pojo.Hkb" >
    insert into hkb (hkid, uid, rname, 
      cpname, rnum, tnum, 
      ytime, rtime, bzname, 
      ybx, rbx, ylx, rlx, 
      ybj, rbj, yfc, rfc, 
      yucount, status, baid, 
      yustartime, huid, resint1, 
      resint2, resstr1, resstr2
      )
    values (#{hkid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{rname,jdbcType=VARCHAR}, 
      #{cpname,jdbcType=VARCHAR}, #{rnum,jdbcType=INTEGER}, #{tnum,jdbcType=INTEGER}, 
      #{ytime,jdbcType=TIMESTAMP}, #{rtime,jdbcType=TIMESTAMP}, #{bzname,jdbcType=VARCHAR}, 
      #{ybx,jdbcType=DECIMAL}, #{rbx,jdbcType=DECIMAL}, #{ylx,jdbcType=DECIMAL}, #{rlx,jdbcType=DECIMAL}, 
      #{ybj,jdbcType=DECIMAL}, #{rbj,jdbcType=DECIMAL}, #{yfc,jdbcType=DECIMAL}, #{rfc,jdbcType=DECIMAL}, 
      #{yucount,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{baid,jdbcType=INTEGER}, 
      #{yustartime,jdbcType=TIMESTAMP}, #{huid,jdbcType=INTEGER}, #{resint1,jdbcType=INTEGER}, 
      #{resint2,jdbcType=INTEGER}, #{resstr1,jdbcType=VARCHAR}, #{resstr2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.animo.pojo.Hkb" >
    insert into hkb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hkid != null" >
        hkid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="rname != null" >
        rname,
      </if>
      <if test="cpname != null" >
        cpname,
      </if>
      <if test="rnum != null" >
        rnum,
      </if>
      <if test="tnum != null" >
        tnum,
      </if>
      <if test="ytime != null" >
        ytime,
      </if>
      <if test="rtime != null" >
        rtime,
      </if>
      <if test="bzname != null" >
        bzname,
      </if>
      <if test="ybx != null" >
        ybx,
      </if>
      <if test="rbx != null" >
        rbx,
      </if>
      <if test="ylx != null" >
        ylx,
      </if>
      <if test="rlx != null" >
        rlx,
      </if>
      <if test="ybj != null" >
        ybj,
      </if>
      <if test="rbj != null" >
        rbj,
      </if>
      <if test="yfc != null" >
        yfc,
      </if>
      <if test="rfc != null" >
        rfc,
      </if>
      <if test="yucount != null" >
        yucount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="baid != null" >
        baid,
      </if>
      <if test="yustartime != null" >
        yustartime,
      </if>
      <if test="huid != null" >
        huid,
      </if>
      <if test="resint1 != null" >
        resint1,
      </if>
      <if test="resint2 != null" >
        resint2,
      </if>
      <if test="resstr1 != null" >
        resstr1,
      </if>
      <if test="resstr2 != null" >
        resstr2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hkid != null" >
        #{hkid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="rname != null" >
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="cpname != null" >
        #{cpname,jdbcType=VARCHAR},
      </if>
      <if test="rnum != null" >
        #{rnum,jdbcType=INTEGER},
      </if>
      <if test="tnum != null" >
        #{tnum,jdbcType=INTEGER},
      </if>
      <if test="ytime != null" >
        #{ytime,jdbcType=TIMESTAMP},
      </if>
      <if test="rtime != null" >
        #{rtime,jdbcType=TIMESTAMP},
      </if>
      <if test="bzname != null" >
        #{bzname,jdbcType=VARCHAR},
      </if>
      <if test="ybx != null" >
        #{ybx,jdbcType=DECIMAL},
      </if>
      <if test="rbx != null" >
        #{rbx,jdbcType=DECIMAL},
      </if>
      <if test="ylx != null" >
        #{ylx,jdbcType=DECIMAL},
      </if>
      <if test="rlx != null" >
        #{rlx,jdbcType=DECIMAL},
      </if>
      <if test="ybj != null" >
        #{ybj,jdbcType=DECIMAL},
      </if>
      <if test="rbj != null" >
        #{rbj,jdbcType=DECIMAL},
      </if>
      <if test="yfc != null" >
        #{yfc,jdbcType=DECIMAL},
      </if>
      <if test="rfc != null" >
        #{rfc,jdbcType=DECIMAL},
      </if>
      <if test="yucount != null" >
        #{yucount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="baid != null" >
        #{baid,jdbcType=INTEGER},
      </if>
      <if test="yustartime != null" >
        #{yustartime,jdbcType=TIMESTAMP},
      </if>
      <if test="huid != null" >
        #{huid,jdbcType=INTEGER},
      </if>
      <if test="resint1 != null" >
        #{resint1,jdbcType=INTEGER},
      </if>
      <if test="resint2 != null" >
        #{resint2,jdbcType=INTEGER},
      </if>
      <if test="resstr1 != null" >
        #{resstr1,jdbcType=VARCHAR},
      </if>
      <if test="resstr2 != null" >
        #{resstr2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.animo.pojo.Hkb" >
    update hkb
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="rname != null" >
        rname = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="cpname != null" >
        cpname = #{cpname,jdbcType=VARCHAR},
      </if>
      <if test="rnum != null" >
        rnum = #{rnum,jdbcType=INTEGER},
      </if>
      <if test="tnum != null" >
        tnum = #{tnum,jdbcType=INTEGER},
      </if>
      <if test="ytime != null" >
        ytime = #{ytime,jdbcType=TIMESTAMP},
      </if>
      <if test="rtime != null" >
        rtime = #{rtime,jdbcType=TIMESTAMP},
      </if>
      <if test="bzname != null" >
        bzname = #{bzname,jdbcType=VARCHAR},
      </if>
      <if test="ybx != null" >
        ybx = #{ybx,jdbcType=DECIMAL},
      </if>
      <if test="rbx != null" >
        rbx = #{rbx,jdbcType=DECIMAL},
      </if>
      <if test="ylx != null" >
        ylx = #{ylx,jdbcType=DECIMAL},
      </if>
      <if test="rlx != null" >
        rlx = #{rlx,jdbcType=DECIMAL},
      </if>
      <if test="ybj != null" >
        ybj = #{ybj,jdbcType=DECIMAL},
      </if>
      <if test="rbj != null" >
        rbj = #{rbj,jdbcType=DECIMAL},
      </if>
      <if test="yfc != null" >
        yfc = #{yfc,jdbcType=DECIMAL},
      </if>
      <if test="rfc != null" >
        rfc = #{rfc,jdbcType=DECIMAL},
      </if>
      <if test="yucount != null" >
        yucount = #{yucount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="baid != null" >
        baid = #{baid,jdbcType=INTEGER},
      </if>
      <if test="yustartime != null" >
        yustartime = #{yustartime,jdbcType=TIMESTAMP},
      </if>
      <if test="huid != null" >
        huid = #{huid,jdbcType=INTEGER},
      </if>
      <if test="resint1 != null" >
        resint1 = #{resint1,jdbcType=INTEGER},
      </if>
      <if test="resint2 != null" >
        resint2 = #{resint2,jdbcType=INTEGER},
      </if>
      <if test="resstr1 != null" >
        resstr1 = #{resstr1,jdbcType=VARCHAR},
      </if>
      <if test="resstr2 != null" >
        resstr2 = #{resstr2,jdbcType=VARCHAR},
      </if>
    </set>
    where hkid = #{hkid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.animo.pojo.Hkb" >
    update hkb
    set uid = #{uid,jdbcType=INTEGER},
      rname = #{rname,jdbcType=VARCHAR},
      cpname = #{cpname,jdbcType=VARCHAR},
      rnum = #{rnum,jdbcType=INTEGER},
      tnum = #{tnum,jdbcType=INTEGER},
      ytime = #{ytime,jdbcType=TIMESTAMP},
      rtime = #{rtime,jdbcType=TIMESTAMP},
      bzname = #{bzname,jdbcType=VARCHAR},
      ybx = #{ybx,jdbcType=DECIMAL},
      rbx = #{rbx,jdbcType=DECIMAL},
      ylx = #{ylx,jdbcType=DECIMAL},
      rlx = #{rlx,jdbcType=DECIMAL},
      ybj = #{ybj,jdbcType=DECIMAL},
      rbj = #{rbj,jdbcType=DECIMAL},
      yfc = #{yfc,jdbcType=DECIMAL},
      rfc = #{rfc,jdbcType=DECIMAL},
      yucount = #{yucount,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      baid = #{baid,jdbcType=INTEGER},
      yustartime = #{yustartime,jdbcType=TIMESTAMP},
      huid = #{huid,jdbcType=INTEGER},
      resint1 = #{resint1,jdbcType=INTEGER},
      resint2 = #{resint2,jdbcType=INTEGER},
      resstr1 = #{resstr1,jdbcType=VARCHAR},
      resstr2 = #{resstr2,jdbcType=VARCHAR}
    where hkid = #{hkid,jdbcType=INTEGER}
  </update>
  <insert id="saveList" parameterType="list">
    <![CDATA[
      INSERT INTO hkb(uid, rname, cpname, bzname,huid,
      ybx, ylx, ybj, tnum, baid, ytime
      )VALUES
    ]]>
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.uid},#{item.rname},#{item.cpname},#{item.bzname},#{item.huid}
      ,#{item.ybx},#{item.ylx},#{item.ybj},#{item.tnum},#{item.baid},#{item.ytime})
    </foreach>
  </insert>

  <select id="listPagerByBaid" resultType="hkb">
    <![CDATA[
      SELECT * FROM hkb WHERE baid=#{baid} limit #{pager.beginIndex}, #{pager.pageSize}
    ]]>
  </select>

  <select id="countByBaid" resultType="long">
    <![CDATA[
      SELECT COUNT(hkid) FROM hkb WHERE baid=#{baid}
    ]]>
  </select>

  <select id="getSkTime" resultType="com.animo.pojo.Hkb">
    <![CDATA[
      SELECT h.ytime FROM hkb AS h  WHERE baid=#{baid}
    ]]>
  </select>

  <update id="updateByBaid" parameterType="com.animo.pojo.Hkb">
    update hkb
    <set >
      <if test="rname != null" >
        rname = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="cpname != null" >
        cpname = #{cpname,jdbcType=VARCHAR},
      </if>
      <if test="rnum != null" >
        rnum = #{rnum,jdbcType=INTEGER},
      </if>
      <if test="tnum != null" >
        tnum = #{tnum,jdbcType=INTEGER},
      </if>
      <if test="ytime != null" >
        ytime = #{ytime,jdbcType=TIMESTAMP},
      </if>
      <if test="rtime != null" >
        rtime = #{rtime,jdbcType=TIMESTAMP},
      </if>
      <if test="bzname != null" >
        bzname = #{bzname,jdbcType=VARCHAR},
      </if>
      <if test="ybx != null" >
        ybx = #{ybx,jdbcType=DECIMAL},
      </if>
      <if test="rbx != null" >
        rbx = #{rbx,jdbcType=DECIMAL},
      </if>
      <if test="ylx != null" >
        ylx = #{ylx,jdbcType=DECIMAL},
      </if>
      <if test="rlx != null" >
        rlx = #{rlx,jdbcType=DECIMAL},
      </if>
      <if test="ybj != null" >
        ybj = #{ybj,jdbcType=DECIMAL},
      </if>
      <if test="rbj != null" >
        rbj = #{rbj,jdbcType=DECIMAL},
      </if>
      <if test="yfc != null" >
        yfc = #{yfc,jdbcType=DECIMAL},
      </if>
      <if test="rfc != null" >
        rfc = #{rfc,jdbcType=DECIMAL},
      </if>
      <if test="yucount != null" >
        yucount = #{yucount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="yustartime != null" >
        yustartime = #{yustartime,jdbcType=TIMESTAMP},
      </if>
      <if test="huid != null" >
        huid = #{huid,jdbcType=INTEGER},
      </if>
      <if test="resint1 != null" >
        resint1 = #{resint1,jdbcType=INTEGER},
      </if>
      <if test="resint2 != null" >
        resint2 = #{resint2,jdbcType=INTEGER},
      </if>
      <if test="resstr1 != null" >
        resstr1 = #{resstr1,jdbcType=VARCHAR},
      </if>
      <if test="resstr2 != null" >
        resstr2 = #{resstr2,jdbcType=VARCHAR},
      </if>
    </set>
    where uid=#{uid} and baid=#{baid}
  </update>
</mapper>