<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.animo.dao.HuserMapper" >
<resultMap id="BaseResultMap" type="com.animo.pojo.Huser" >
    <id column="huid" property="huid" jdbcType="INTEGER" />
    <result column="rname" property="rname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="huname" property="huname" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="resint1" property="resint1" jdbcType="INTEGER" />
    <result column="resint2" property="resint2" jdbcType="INTEGER" />
    <result column="resstr1" property="resstr1" jdbcType="VARCHAR" />
    <result column="resstr2" property="resstr2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    huid, rname, sex, phone, huname, email, resint1, resint2, resstr1, resstr2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from huser
    where huid = #{huid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from huser
    where huid = #{huid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.animo.pojo.Huser" >
    insert into huser (huid, rname, sex, 
      phone, huname, email, 
      resint1, resint2, resstr1, 
      resstr2)
    values (#{huid,jdbcType=INTEGER}, #{rname,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{huname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{resint1,jdbcType=INTEGER}, #{resint2,jdbcType=INTEGER}, #{resstr1,jdbcType=VARCHAR}, 
      #{resstr2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.animo.pojo.Huser" >
    insert into huser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="huid != null" >
        huid,
      </if>
      <if test="rname != null" >
        rname,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="huname != null" >
        huname,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="resint1 != null" >
        resint1,
      </if>
      <if test="resint2 != null" >
        resint2,
      </if>
      <if test="resstr1 != null" >
        resstr1,
      </if>
      <if test="resstr2 != null" >
        resstr2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="huid != null" >
        #{huid,jdbcType=INTEGER},
      </if>
      <if test="rname != null" >
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="huname != null" >
        #{huname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="resint1 != null" >
        #{resint1,jdbcType=INTEGER},
      </if>
      <if test="resint2 != null" >
        #{resint2,jdbcType=INTEGER},
      </if>
      <if test="resstr1 != null" >
        #{resstr1,jdbcType=VARCHAR},
      </if>
      <if test="resstr2 != null" >
        #{resstr2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.animo.pojo.Huser" >
    update huser
    <set >
      <if test="rname != null" >
        rname = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="huname != null" >
        huname = #{huname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="resint1 != null" >
        resint1 = #{resint1,jdbcType=INTEGER},
      </if>
      <if test="resint2 != null" >
        resint2 = #{resint2,jdbcType=INTEGER},
      </if>
      <if test="resstr1 != null" >
        resstr1 = #{resstr1,jdbcType=VARCHAR},
      </if>
      <if test="resstr2 != null" >
        resstr2 = #{resstr2,jdbcType=VARCHAR},
      </if>
    </set>
    where huid = #{huid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.animo.pojo.Huser" >
    update huser
    set rname = #{rname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      huname = #{huname,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      resint1 = #{resint1,jdbcType=INTEGER},
      resint2 = #{resint2,jdbcType=INTEGER},
      resstr1 = #{resstr1,jdbcType=VARCHAR},
      resstr2 = #{resstr2,jdbcType=VARCHAR}
    where huid = #{huid,jdbcType=INTEGER}
  </update>

  <select id="getByPhonePwd" resultType="huser">
      select * from huser where phone = #{phone} and resstr1 = #{pwd}
  </select>

  <select id="getByPhone" resultType="Integer">
    select count(huid) from huser where phone = #{phone}
  </select>

  <insert id="saveHuser">
      insert into huser(huid, rname, sex, phone, huname, email, resint1, resint2, resstr1, resstr2)
      values(#{huid}, #{rname},#{sex}, #{phone}, #{huname}, #{email}, #{resint1}, #{resint2}, #{resstr1}, #{resstr2});
  </insert>

  <!--BaseMapper中的分页-->
  <select id="listPager" parameterType="com.animo.common.Pager" resultType="com.animo.pojo.Huser">
    <![CDATA[
			select h.huid, h.huname, h.rname, h.sex, h.phone, h.email, h.resstr2, h.resstr1, h.resint1, h.resint2
			from huser h
			limit #{beginIndex}, #{pageSize}
		]]>
  </select>

  <!--BaseMapper中的计数-->
  <select id="count" resultType="long">
    select count(huid) from huser;
  </select>

  <update id="updatePwd">
    <![CDATA[
      update huser set resstr1 = #{pwd} where huid = #{huid};
    ]]>
  </update>

</mapper>