<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.animo.dao.JurMapper" >
  <resultMap id="BaseResultMap" type="com.animo.pojo.Jur" >
    <id column="jid" property="jid" jdbcType="INTEGER" />
    <result column="jurl" property="jurl" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    jid, jurl, content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jur
    where jid = #{jid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jur
    where jid = #{jid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.animo.pojo.Jur" >
    insert into jur (jid, jurl, content
      )
    values (#{jid,jdbcType=INTEGER}, #{jurl,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.animo.pojo.Jur" >
    insert into jur
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jid != null" >
        jid,
      </if>
      <if test="jurl != null" >
        jurl,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jid != null" >
        #{jid,jdbcType=INTEGER},
      </if>
      <if test="jurl != null" >
        #{jurl,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.animo.pojo.Jur" >
    update jur
    <set >
      <if test="jurl != null" >
        jurl = #{jurl,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where jid = #{jid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.animo.pojo.Jur" >
    update jur
    set jurl = #{jurl,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR}
    where jid = #{jid,jdbcType=INTEGER}
  </update>

  <select id="listPager" resultType="com.animo.pojo.Jur" parameterType="com.animo.common.Pager">
    SELECT j.jid, j.jurl, j.content FROM jur as j limit #{beginIndex}, #{pageSize}
  </select>

  <select id="count" resultType="long">
    SELECT count(jid) FROM jur
  </select>

  <select id="listAll" resultType="com.animo.pojo.Jur">
    SELECT * FROM jur
  </select>

  <select id="listByRid" resultType="com.animo.vo.RoleJurVO" parameterType="java.lang.Integer">
    select r.rid,rj.jid,rj.rjid,j.content,j.jurl from role r join rolejur rj on r.rid = rj.rid JOIN jur j on rj.jid = j.jid where r.rid = #{rid, jdbcType=INTEGER};
  </select>

  <insert id="saveJurList" parameterType="com.animo.pojo.Jur">
    insert into jur (jurl, content) VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.jurl},#{item.content})
    </foreach>
  </insert>

  <delete id="deleteAll">
    truncate table jur
  </delete>
</mapper>