<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.animo.dao.LogMoneyMapper" >
  <resultMap id="BaseResultMap" type="com.animo.pojo.LogMoney" >
    <id column="lmid" property="lmid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="income" property="income" jdbcType="DECIMAL" />
    <result column="outlay" property="outlay" jdbcType="DECIMAL" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    lmid, uid, type, income, outlay, created_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from log_money
    where lmid = #{lmid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from log_money
    where lmid = #{lmid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.animo.pojo.LogMoney" >
    insert into log_money (lmid, uid, type, 
      income, outlay, created_time
      )
    values (#{lmid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{income,jdbcType=DECIMAL}, #{outlay,jdbcType=DECIMAL}, #{createdTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.animo.pojo.LogMoney" >
    insert into log_money
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lmid != null" >
        lmid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="income != null" >
        income,
      </if>
      <if test="outlay != null" >
        outlay,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lmid != null" >
        #{lmid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="income != null" >
        #{income,jdbcType=DECIMAL},
      </if>
      <if test="outlay != null" >
        #{outlay,jdbcType=DECIMAL},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.animo.pojo.LogMoney" >
    update log_money
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="income != null" >
        income = #{income,jdbcType=DECIMAL},
      </if>
      <if test="outlay != null" >
        outlay = #{outlay,jdbcType=DECIMAL},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where lmid = #{lmid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.animo.pojo.LogMoney" >
    update log_money
    set uid = #{uid,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      income = #{income,jdbcType=DECIMAL},
      outlay = #{outlay,jdbcType=DECIMAL},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where lmid = #{lmid,jdbcType=INTEGER}
  </update>


  <select id="listPagerByTypeAndUid" resultType="com.animo.pojo.LogMoney">
    <![CDATA[
        select * FROM log_money WHERE
    ]]>
    <if test="type!=null">
      type=#{type} and
    </if>
    uid=#{uid}
    limit #{pager.beginIndex}, #{pager.pageSize}
  </select>

  <select id="countByTypeAndUid" resultType="long" >
    select count(lmid) FROM log_money WHERE
    <if test="type!=null">
      type=#{type}  and
    </if>
   uid=#{uid}
  </select>
</mapper>