<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.animo.dao.LogTxMapper">

    <resultMap id="BaseResultMap" type="com.animo.pojo.LogTx">
        <id column="txid" property="txid" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="bankcard" property="bankcard" jdbcType="VARCHAR"/>
        <result column="banktype" property="banktype" jdbcType="VARCHAR"/>
        <result column="money" property="money" jdbcType="DECIMAL"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    txid, uid, bankcard, banktype, money, created_time, status
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from log_tx
        where txid = #{txid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from log_tx
    where txid = #{txid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.animo.pojo.LogTx">
    insert into log_tx (txid, uid, bankcard,
    banktype, money, created_time,
    status)
    values (#{txid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{bankcard,jdbcType=VARCHAR},
    #{banktype,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, #{createdTime,jdbcType=TIMESTAMP},
    #{status,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.animo.pojo.LogTx">
        insert into log_tx
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="txid != null">
                txid,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="bankcard != null">
                bankcard,
            </if>
            <if test="banktype != null">
                banktype,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="txid != null">
                #{txid,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="bankcard != null">
                #{bankcard,jdbcType=VARCHAR},
            </if>
            <if test="banktype != null">
                #{banktype,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                #{money,jdbcType=DECIMAL},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.animo.pojo.LogTx">
        update log_tx
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="bankcard != null">
                bankcard = #{bankcard,jdbcType=VARCHAR},
            </if>
            <if test="banktype != null">
                banktype = #{banktype,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=DECIMAL},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where txid = #{txid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.animo.pojo.LogTx">
    update log_tx
    set uid = #{uid,jdbcType=INTEGER},
    bankcard = #{bankcard,jdbcType=VARCHAR},
    banktype = #{banktype,jdbcType=VARCHAR},
    money = #{money,jdbcType=DECIMAL},
    created_time = #{createdTime,jdbcType=TIMESTAMP},
    status = #{status,jdbcType=INTEGER}
    where txid = #{txid,jdbcType=INTEGER}
  </update>

    <select id="listPagerByUid" resultType="com.animo.pojo.LogTx">
        <![CDATA[
			select * FROM log_tx WHERE uid=#{uid}
			limit #{pager.beginIndex}, #{pager.pageSize}
		]]>
    </select>

    <select id="listAll" resultType="com.animo.pojo.LogTx">
        <![CDATA[
			select * FROM log_tx
			limit #{pager.beginIndex}, #{pager.pageSize}
		]]>
    </select>

    <select id="countByUid" resultType="long">
        select count(txid) FROM log_tx WHERE uid=#{uid}
    </select>

    <select id="count" resultType="long">
        select count(txid) FROM log_tx
    </select>

    <update id="updateStatus">
        UPDATE  log_tx AS lt SET lt.status=#{status}  WHERE lt.txid=#{txid}
    </update>
</mapper>