<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.animo.dao.LogTxMapper" >
  <sql id="logTx_query_common">
    from log_tx lt,bankcard bk where lt.uid = bk.uid
  </sql>

  <sql id="loxTx_query_criteria">
    <if test="query != null and query.cardno != null">
      and bk.cardno = #{query.cardno}
    </if>
    <if test="query != null and query.type != null and query.type != ''">
      and bk.type like concat('%', #{query.type}, '%')
    </if>
    <if test="query != null and query.money != null">
      and lt.money <![CDATA[<=]]> #{query.money}
    </if>
    <if test="query != null and query.status != null">
      and lt.status = #{query.status}
    </if>
    <if test="query != null and query.createdTime != null and query.createdTime != ''">
      and lt.created_time <![CDATA[<=]]> #{query.createdTime}
    </if>
  </sql>

  <select id="listPagerCriteria" resultType="com.animo.vo.TxRecordVO">
    <![CDATA[
			select bk.cardno,bk.type,lt.money,lt.`status`,lt.created_time from log_tx lt,bankcard bk where lt.uid = bk.uid
			]]>
    <include refid="logTx_query_common" />
    <include refid="loxTx_query_criteria" />
    limit #{pager.beginIndex}, #{pager.pageSize}

  </select>

  <select id="countCriteria" resultType="long" parameterType="com.animo.query.TxRecordQuery">
    select count(lt.id)
    <include refid="logTx_query_common" />
    <include refid="loxTx_query_criteria" />
  </select>
</mapper>