<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.animo.dao.OptionMapper" >
  <resultMap id="BaseResultMap" type="com.animo.pojo.Option" >
    <id column="opid" property="opid" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    opid, phone, content, created_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from option
    where opid = #{opid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from option
    where opid = #{opid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.animo.pojo.Option" >
    insert into option (opid, phone, content, 
      created_time)
    values (#{opid,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.animo.pojo.Option" >
    insert into option
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="opid != null" >
        opid,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="opid != null" >
        #{opid,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.animo.pojo.Option" >
    update option
    <set >
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where opid = #{opid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.animo.pojo.Option" >
    update option
    set phone = #{phone,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where opid = #{opid,jdbcType=INTEGER}
  </update>
</mapper>