<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.animo.dao.RewardMapper" >
  <resultMap id="BaseResultMap" type="com.animo.pojo.Reward" >
    <id column="rwid" property="rwid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="tmoney" property="tmoney" jdbcType="DECIMAL" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="reward_time" property="rewardTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    rwid, uid, tmoney, money, status, reward_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from reward
    where rwid = #{rwid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from reward
    where rwid = #{rwid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.animo.pojo.Reward" >
    insert into reward (rwid, uid, tmoney, 
      money, status, reward_time
      )
    values (#{rwid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{tmoney,jdbcType=DECIMAL}, 
      #{money,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, #{rewardTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.animo.pojo.Reward" >
    insert into reward
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rwid != null" >
        rwid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="tmoney != null" >
        tmoney,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="rewardTime != null" >
        reward_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rwid != null" >
        #{rwid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="tmoney != null" >
        #{tmoney,jdbcType=DECIMAL},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="rewardTime != null" >
        #{rewardTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.animo.pojo.Reward" >
    update reward
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="tmoney != null" >
        tmoney = #{tmoney,jdbcType=DECIMAL},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="rewardTime != null" >
        reward_time = #{rewardTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rwid = #{rwid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.animo.pojo.Reward" >
    update reward
    set uid = #{uid,jdbcType=INTEGER},
      tmoney = #{tmoney,jdbcType=DECIMAL},
      money = #{money,jdbcType=DECIMAL},
      status = #{status,jdbcType=VARCHAR},
      reward_time = #{rewardTime,jdbcType=TIMESTAMP}
    where rwid = #{rwid,jdbcType=INTEGER}
  </update>

  <select id="selectByUid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from reward
    where uid = #{uid}
  </select>

  <select id="selectByStatus" resultMap="BaseResultMap">

  <![CDATA[
      select * from reward where status = #{status}
   ]]>


  </select>

</mapper>