<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.animo.dao.RewardSettingMapper" >
  <resultMap id="BaseResultMap" type="com.animo.pojo.RewardSetting" >
    <id column="rwsid" property="rwsid" jdbcType="INTEGER" />
    <result column="minmoney" property="minmoney" jdbcType="DECIMAL" />
    <result column="maxmoney" property="maxmoney" jdbcType="DECIMAL" />
    <result column="percent" property="percent" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    rwsid, minmoney, maxmoney, percent
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from reward_setting
    where rwsid = #{rwsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from reward_setting
    where rwsid = #{rwsid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.animo.pojo.RewardSetting" >
    insert into reward_setting (rwsid, minmoney, maxmoney, 
      percent)
    values (#{rwsid,jdbcType=INTEGER}, #{minmoney,jdbcType=DECIMAL}, #{maxmoney,jdbcType=DECIMAL}, 
      #{percent,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.animo.pojo.RewardSetting" >
    insert into reward_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rwsid != null" >
        rwsid,
      </if>
      <if test="minmoney != null" >
        minmoney,
      </if>
      <if test="maxmoney != null" >
        maxmoney,
      </if>
      <if test="percent != null" >
        percent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rwsid != null" >
        #{rwsid,jdbcType=INTEGER},
      </if>
      <if test="minmoney != null" >
        #{minmoney,jdbcType=DECIMAL},
      </if>
      <if test="maxmoney != null" >
        #{maxmoney,jdbcType=DECIMAL},
      </if>
      <if test="percent != null" >
        #{percent,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.animo.pojo.RewardSetting" >
    update reward_setting
    <set >
      <if test="minmoney != null" >
        minmoney = #{minmoney,jdbcType=DECIMAL},
      </if>
      <if test="maxmoney != null" >
        maxmoney = #{maxmoney,jdbcType=DECIMAL},
      </if>
      <if test="percent != null" >
        percent = #{percent,jdbcType=DOUBLE},
      </if>
    </set>
    where rwsid = #{rwsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.animo.pojo.RewardSetting" >
    update reward_setting
    set minmoney = #{minmoney,jdbcType=DECIMAL},
      maxmoney = #{maxmoney,jdbcType=DECIMAL},
      percent = #{percent,jdbcType=DOUBLE}
    where rwsid = #{rwsid,jdbcType=INTEGER}
  </update>

  <select id="selectpercent" resultType="double">
      SELECT r.percent FROM reward_setting AS r
      WHERE #{money} <![CDATA[>=]]> r.minmoney AND #{money} <![CDATA[<]]> r.maxmoney
  </select>


  <!--BaseMapper中的分页-->
  <select id="listPager" parameterType="com.animo.common.Pager" resultType="com.animo.pojo.RewardSetting">
    <![CDATA[
			select rs.rwsid , rs.minmoney, rs.maxmoney, rs.percent
			from reward_setting rs
			limit #{beginIndex}, #{pageSize}
		]]>
  </select>

  <!--BaseMapper中的计数-->
  <select id="count" resultType="long">
    select count(rwsid) from reward_setting;
  </select>

</mapper>