<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.animo.dao.RolejurMapper" >
  <resultMap id="BaseResultMap" type="com.animo.pojo.Rolejur" >
    <id column="rjid" property="rjid" jdbcType="INTEGER" />
    <result column="rid" property="rid" jdbcType="INTEGER" />
    <result column="jid" property="jid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    rjid, rid, jid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rolejur
    where rjid = #{rjid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rolejur
    where rjid = #{rjid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.animo.pojo.Rolejur" >
    insert into rolejur (rjid, rid, jid
      )
    values (#{rjid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER}, #{jid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.animo.pojo.Rolejur" >
    insert into rolejur
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rjid != null" >
        rjid,
      </if>
      <if test="rid != null" >
        rid,
      </if>
      <if test="jid != null" >
        jid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rjid != null" >
        #{rjid,jdbcType=INTEGER},
      </if>
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="jid != null" >
        #{jid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.animo.pojo.Rolejur" >
    update rolejur
    <set >
      <if test="rid != null" >
        rid = #{rid,jdbcType=INTEGER},
      </if>
      <if test="jid != null" >
        jid = #{jid,jdbcType=INTEGER},
      </if>
    </set>
    where rjid = #{rjid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.animo.pojo.Rolejur" >
    update rolejur
    set rid = #{rid,jdbcType=INTEGER},
      jid = #{jid,jdbcType=INTEGER}
    where rjid = #{rjid,jdbcType=INTEGER}
  </update>

  <insert id="saveRolejur">
    INSERT into rolejur(rid, jid) VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.rid}, #{item.jid})
    </foreach>
  </insert>

  <delete id="deleteAll">
    truncate table rolejur
  </delete>

</mapper>