<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.animo.dao.TicketMapper" >
  <resultMap id="BaseResultMap" type="com.animo.pojo.Ticket" >
    <id column="kid" property="kid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="tkmoney" property="tkmoney" jdbcType="DECIMAL" />
    <result column="tktime" property="tktime" jdbcType="TIMESTAMP" />
    <result column="tnum" property="tnum" jdbcType="INTEGER" />
    <result column="isvip" property="isvip" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    kid, name, type, tkmoney, tktime, tnum, isvip
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ticket
    where kid = #{kid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ticket
    where kid = #{kid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.animo.pojo.Ticket" >
    insert into ticket (kid, name, type, 
      tkmoney, tktime, tnum, isvip)
    values (#{kid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{tkmoney,jdbcType=DECIMAL}, #{tktime,jdbcType=TIMESTAMP}, #{tnum,jdbcType=INTEGER}, #{isvip,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.animo.pojo.Ticket" >
    insert into ticket
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="kid != null" >
        kid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="tkmoney != null" >
        tkmoney,
      </if>
      <if test="tktime != null" >
        tktime,
      </if>
      <if test="tnum != null" >
        tnum,
      </if>
      <if test="isvip != null" >
        isvip
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="kid != null" >
        #{kid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="tkmoney != null" >
        #{tkmoney,jdbcType=DECIMAL},
      </if>
      <if test="tktime != null" >
        #{tktime,jdbcType=TIMESTAMP},
      </if>
      <if test="tnum != null" >
        #{tnum,jdbcType=INTEGER},
      </if>
      <if test="isvip != null" >
        #{isvip,jdbcType=INTEGER}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.animo.pojo.Ticket" >
    update ticket
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="tkmoney != null" >
        tkmoney = #{tkmoney,jdbcType=DECIMAL},
      </if>
      <if test="tktime != null" >
        tktime = #{tktime,jdbcType=TIMESTAMP},
      </if>
      <if test="tnum != null" >
        tnum = #{tnum,jdbcType=INTEGER},
      </if>
      <if test="isvip != null" >
        isvip = #{isvip,jdbcType=INTEGER}
      </if>
    </set>
    where kid = #{kid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.animo.pojo.Ticket" >
    update ticket
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      tkmoney = #{tkmoney,jdbcType=DECIMAL},
      tktime = #{tktime,jdbcType=TIMESTAMP},
      tnum = #{tnum,jdbcType=INTEGER},
      isvip = #{isvip,jdbcType=INTEGER}
    where kid = #{kid,jdbcType=INTEGER}
  </update>

  <select id="listPager" parameterType="com.animo.common.Pager" resultType="com.animo.pojo.Ticket">
    select * from ticket limit #{beginIndex}, #{pageSize}
  </select>

  <select id="count" resultType="long">
    select count(kid) from ticket
  </select>

  <select id="selectByIsVip" parameterType="java.lang.Integer" resultType="com.animo.pojo.Ticket">
    select * from ticket where  isvip = #{isvip}
  </select>

  <select id="list" resultType="com.animo.vo.TicketVo">
    SELECT t.type,ut.ukid,ut.tktime,t.tktime AS ttime,t.isvip,t.tkmoney FROM ticket AS t,user_ticket AS ut WHERE t.kid=ut.kid and  ut.uid=#{uid}
  </select>
</mapper>