<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.animo.dao.TicketMapper" >
  <resultMap id="BaseResultMap" type="com.animo.pojo.Ticket" >
    <id column="kid" property="kid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="tkmoney" property="tkmoney" jdbcType="INTEGER" />
    <result column="tktime" property="tktime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    kid, name, type, tkmoney, tktime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ticket
    where kid = #{kid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ticket
    where kid = #{kid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.animo.pojo.Ticket" >
    insert into ticket (kid, name, type, 
      tkmoney, tktime)
    values (#{kid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{tkmoney,jdbcType=INTEGER}, #{tktime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.animo.pojo.Ticket" >
    insert into ticket
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="kid != null" >
        kid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="tkmoney != null" >
        tkmoney,
      </if>
      <if test="tktime != null" >
        tktime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="kid != null" >
        #{kid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="tkmoney != null" >
        #{tkmoney,jdbcType=INTEGER},
      </if>
      <if test="tktime != null" >
        #{tktime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.animo.pojo.Ticket" >
    update ticket
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="tkmoney != null" >
        tkmoney = #{tkmoney,jdbcType=INTEGER},
      </if>
      <if test="tktime != null" >
        tktime = #{tktime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where kid = #{kid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.animo.pojo.Ticket" >
    update ticket
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      tkmoney = #{tkmoney,jdbcType=INTEGER},
      tktime = #{tktime,jdbcType=TIMESTAMP}
    where kid = #{kid,jdbcType=INTEGER}
  </update>
</mapper>