<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.animo.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.animo.pojo.User" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="upwd" property="upwd" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="tzm" property="tzm" jdbcType="INTEGER" />
    <result column="zpwd" property="zpwd" jdbcType="VARCHAR" />
    <result column="idtype" property="idtype" jdbcType="VARCHAR" />
    <result column="idno" property="idno" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="rname" property="rname" jdbcType="VARCHAR" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="face" property="face" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="isvip" property="isvip" jdbcType="INTEGER" />
    <result column="resint1" property="resint1" jdbcType="TIMESTAMP" />
    <result column="resint2" property="resint2" jdbcType="INTEGER" />
    <result column="resstr1" property="resstr1" jdbcType="VARCHAR" />
    <result column="resstr2" property="resstr2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, uname, upwd, phone, tzm, zpwd, idtype, idno, email, rname, tid, face, sex, isvip, 
    resint1, resint2, resstr1, resstr2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.animo.pojo.User" >
    insert into t_user (uid, uname, upwd, 
      phone, tzm, zpwd, idtype, 
      idno, email, rname, 
      tid, face, sex, isvip,
      resint1, resint2, resstr1, 
      resstr2)
    values (#{uid,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR}, #{upwd,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{tzm,jdbcType=INTEGER}, #{zpwd,jdbcType=VARCHAR}, #{idtype,jdbcType=VARCHAR}, 
      #{idno,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{rname,jdbcType=VARCHAR}, 
      #{tid,jdbcType=INTEGER}, #{face,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{isvip,jdbcType=INTEGER}, 
      #{resint1,jdbcType=TIMESTAMP}, #{resint2,jdbcType=INTEGER}, #{resstr1,jdbcType=VARCHAR},
      #{resstr2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.animo.pojo.User" >
    <selectKey keyProperty="uid" resultType="int" order="AFTER">
      SELECT LAST_INSERT_ID() AS ID
    </selectKey>
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="upwd != null" >
        upwd,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="tzm != null" >
        tzm,
      </if>
      <if test="zpwd != null" >
        zpwd,
      </if>
      <if test="idtype != null" >
        idtype,
      </if>
      <if test="idno != null" >
        idno,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="rname != null" >
        rname,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="face != null" >
        face,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="isvip != null" >
        isvip,
      </if>
      <if test="resint1 != null" >
        resint1,
      </if>
      <if test="resint2 != null" >
        resint2,
      </if>
      <if test="resstr1 != null" >
        resstr1,
      </if>
      <if test="resstr2 != null" >
        resstr2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upwd != null" >
        #{upwd,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="tzm != null" >
        #{tzm,jdbcType=INTEGER},
      </if>
      <if test="zpwd != null" >
        #{zpwd,jdbcType=VARCHAR},
      </if>
      <if test="idtype != null" >
        #{idtype,jdbcType=VARCHAR},
      </if>
      <if test="idno != null" >
        #{idno,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="rname != null" >
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="face != null" >
        #{face,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="isvip != null" >
        #{isvip,jdbcType=INTEGER},
      </if>
      <if test="resint1 != null" >
        #{resint1,jdbcType=TIMESTAMP},
      </if>
      <if test="resint2 != null" >
        #{resint2,jdbcType=INTEGER},
      </if>
      <if test="resstr1 != null" >
        #{resstr1,jdbcType=VARCHAR},
      </if>
      <if test="resstr2 != null" >
        #{resstr2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <insert id="">



  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.animo.pojo.User" >
    update t_user
    <set >
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upwd != null" >
        upwd = #{upwd,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="tzm != null" >
        tzm = #{tzm,jdbcType=INTEGER},
      </if>
      <if test="zpwd != null" >
        zpwd = #{zpwd,jdbcType=VARCHAR},
      </if>
      <if test="idtype != null" >
        idtype = #{idtype,jdbcType=VARCHAR},
      </if>
      <if test="idno != null" >
        idno = #{idno,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="rname != null" >
        rname = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="face != null" >
        face = #{face,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="isvip != null" >
        isvip = #{isvip,jdbcType=INTEGER},
      </if>
      <if test="resint1 != null" >
        resint1 = #{resint1,jdbcType=TIMESTAMP},
      </if>
      <if test="resint2 != null" >
        resint2 = #{resint2,jdbcType=INTEGER},
      </if>
      <if test="resstr1 != null" >
        resstr1 = #{resstr1,jdbcType=VARCHAR},
      </if>
      <if test="resstr2 != null" >
        resstr2 = #{resstr2,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.animo.pojo.User" >
    update t_user
    set uname = #{uname,jdbcType=VARCHAR},
      upwd = #{upwd,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      tzm = #{tzm,jdbcType=INTEGER},
      zpwd = #{zpwd,jdbcType=VARCHAR},
      idtype = #{idtype,jdbcType=VARCHAR},
      idno = #{idno,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      rname = #{rname,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=INTEGER},
      face = #{face,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      isvip = #{isvip,jdbcType=INTEGER},
      resint1 = #{resint1,jdbcType=TIMESTAMP},
      resint2 = #{resint2,jdbcType=INTEGER},
      resstr1 = #{resstr1,jdbcType=VARCHAR},
      resstr2 = #{resstr2,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
  </update>

  <select id="getByTzm" resultType="user">
    select * from t_user where tzm = #{tzm};

  </select>

  <select id="getByPhone" resultType="Integer">
    select count(uid) from t_user where phone = #{phone}
  </select>

  <select id="getByPhonePwd" resultType="user">
    select * from t_user where phone = #{phone} and upwd = #{upwd}
  </select>

  <!--BaseMapper中的分页-->
  <select id="listPager" parameterType="com.animo.common.Pager" resultType="com.animo.pojo.User">
    <![CDATA[
			select * FROM t_user
			limit #{beginIndex}, #{pageSize}
		]]>
  </select>

  <select id="count" resultType="long">
    <![CDATA[
			select count(u.uid)
			from t_user u
		]]>
  </select>




  <select id="listPagerCriteria" resultType="com.animo.pojo.User">
    <![CDATA[
        SELECT * from t_user where resstr2= #{resstr2}
    ]]>
    limit #{pager.beginIndex}, #{pager.pageSize}
  </select>

  <select id="countCriteria" resultType="long" >
    select count(uid) FROM t_user WHERE resstr2= #{resstr2}
  </select>


  <select id="getByEmail" resultType="Integer">
    select count(uid) from t_user where email = #{email}
  </select>

</mapper>