<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.animo.dao.YdataMapper">
    <resultMap id="BaseResultMap" type="com.animo.pojo.Ydata">
        <id column="yid" property="yid" jdbcType="INTEGER"/>
        <result column="tmoney" property="tmoney" jdbcType="DECIMAL"/>
        <result column="mmoney" property="mmoney" jdbcType="DECIMAL"/>
        <result column="tuser" property="tuser" jdbcType="INTEGER"/>
        <result column="muser" property="muser" jdbcType="INTEGER"/>
        <result column="ttzno" property="ttzno" jdbcType="INTEGER"/>
        <result column="mtzno" property="mtzno" jdbcType="INTEGER"/>
        <result column="tdkno" property="tdkno" jdbcType="INTEGER"/>
        <result column="mdkno" property="mdkno" jdbcType="INTEGER"/>
        <result column="tdkbno" property="tdkbno" jdbcType="INTEGER"/>
        <result column="mdkbno" property="mdkbno" jdbcType="INTEGER"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    yid, tmoney, mmoney, tuser, muser, ttzno, mtzno, tdkno, mdkno, tdkbno, mdkbno, created_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from ydata
        where yid = #{yid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ydata
    where yid = #{yid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.animo.pojo.Ydata">
    insert into ydata (yid, tmoney, mmoney, 
      tuser, muser, ttzno, 
      mtzno, tdkno, mdkno, 
      tdkbno, mdkbno, created_time
      )
    values (#{yid,jdbcType=INTEGER}, #{tmoney,jdbcType=DECIMAL}, #{mmoney,jdbcType=DECIMAL}, 
      #{tuser,jdbcType=INTEGER}, #{muser,jdbcType=INTEGER}, #{ttzno,jdbcType=INTEGER}, 
      #{mtzno,jdbcType=INTEGER}, #{tdkno,jdbcType=INTEGER}, #{mdkno,jdbcType=INTEGER}, 
      #{tdkbno,jdbcType=INTEGER}, #{mdkbno,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.animo.pojo.Ydata">
        insert into ydata
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="yid != null">
                yid,
            </if>
            <if test="tmoney != null">
                tmoney,
            </if>
            <if test="mmoney != null">
                mmoney,
            </if>
            <if test="tuser != null">
                tuser,
            </if>
            <if test="muser != null">
                muser,
            </if>
            <if test="ttzno != null">
                ttzno,
            </if>
            <if test="mtzno != null">
                mtzno,
            </if>
            <if test="tdkno != null">
                tdkno,
            </if>
            <if test="mdkno != null">
                mdkno,
            </if>
            <if test="tdkbno != null">
                tdkbno,
            </if>
            <if test="mdkbno != null">
                mdkbno,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="yid != null">
                #{yid,jdbcType=INTEGER},
            </if>
            <if test="tmoney != null">
                #{tmoney,jdbcType=DECIMAL},
            </if>
            <if test="mmoney != null">
                #{mmoney,jdbcType=DECIMAL},
            </if>
            <if test="tuser != null">
                #{tuser,jdbcType=INTEGER},
            </if>
            <if test="muser != null">
                #{muser,jdbcType=INTEGER},
            </if>
            <if test="ttzno != null">
                #{ttzno,jdbcType=INTEGER},
            </if>
            <if test="mtzno != null">
                #{mtzno,jdbcType=INTEGER},
            </if>
            <if test="tdkno != null">
                #{tdkno,jdbcType=INTEGER},
            </if>
            <if test="mdkno != null">
                #{mdkno,jdbcType=INTEGER},
            </if>
            <if test="tdkbno != null">
                #{tdkbno,jdbcType=INTEGER},
            </if>
            <if test="mdkbno != null">
                #{mdkbno,jdbcType=INTEGER},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.animo.pojo.Ydata">
        update ydata
        <set>
            <if test="tmoney != null">
                tmoney = #{tmoney,jdbcType=DECIMAL},
            </if>
            <if test="mmoney != null">
                mmoney = #{mmoney,jdbcType=DECIMAL},
            </if>
            <if test="tuser != null">
                tuser = #{tuser,jdbcType=INTEGER},
            </if>
            <if test="muser != null">
                muser = #{muser,jdbcType=INTEGER},
            </if>
            <if test="ttzno != null">
                ttzno = #{ttzno,jdbcType=INTEGER},
            </if>
            <if test="mtzno != null">
                mtzno = #{mtzno,jdbcType=INTEGER},
            </if>
            <if test="tdkno != null">
                tdkno = #{tdkno,jdbcType=INTEGER},
            </if>
            <if test="mdkno != null">
                mdkno = #{mdkno,jdbcType=INTEGER},
            </if>
            <if test="tdkbno != null">
                tdkbno = #{tdkbno,jdbcType=INTEGER},
            </if>
            <if test="mdkbno != null">
                mdkbno = #{mdkbno,jdbcType=INTEGER},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where yid = #{yid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.animo.pojo.Ydata">
    update ydata
    set tmoney = #{tmoney,jdbcType=DECIMAL},
      mmoney = #{mmoney,jdbcType=DECIMAL},
      tuser = #{tuser,jdbcType=INTEGER},
      muser = #{muser,jdbcType=INTEGER},
      ttzno = #{ttzno,jdbcType=INTEGER},
      mtzno = #{mtzno,jdbcType=INTEGER},
      tdkno = #{tdkno,jdbcType=INTEGER},
      mdkno = #{mdkno,jdbcType=INTEGER},
      tdkbno = #{tdkbno,jdbcType=INTEGER},
      mdkbno = #{mdkbno,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where yid = #{yid,jdbcType=INTEGER}
  </update>

    <select id="all" resultType="com.animo.vo.StatisticalReportVO">
    SELECT
      sum(tz.money) as tmoney,
      count(distinct tz.uid) as ttzno,
      count(tz.uid) as allTrade,
      (select count(uid)from t_user)as tuser,
      (select count(distinct bw.uid)from borrowapply as bw where bw.ckstatus = 2) as tdkno,
      (select count(bw.baid)from borrowapply as bw where bw.ckstatus = 2)as tdkbno,
      (select sum(um.symoney) from usermoney as um)as usersProfit,
      (select sum(hk.rbj)from hkb as hk) as alreadyMoney,
      (select(sum(hk.ybj) -(select sum(rbj) from hkb)) from hkb as hk) as stillreturnMoney
       from tzb as tz;
  </select>

    <select id="selectByTime" resultType="com.animo.pojo.Ydata">
        select  count(bw.baid) as mdkbno,count(distinct bw.uid) as mdkno,
      (select count(distinct tz.uid)from tzb as tz where tz.tztime between #{firstDay} and #{today})as mtzno,
      (select count(u.uid)from t_user as u where u.resint1 between #{firstDay} and #{today})as muser,
      (select sum(tz.money)from tzb as tz where tz.tztime between #{firstDay} and #{today})as mmoney
      from borrowapply as bw where bw.ckstatus = 2;
    </select>

    <select id="save" parameterType="com.animo.pojo.Ydata">
      insert into ydata
        <if test="yid != null">
            yid,
        </if>
        <if test="tmoney != null">
            tmoney,
        </if>
        <if test="mmoney != null">
            mmoney,
        </if>
        <if test="tuser != null">
            tuser,
        </if>
        <if test="muser != null">
            muser,
        </if>
        <if test="ttzno != null">
            ttzno,
        </if>
        <if test="mtzno != null">
            mtzno,
        </if>
        <if test="tdkno != null">
            tdkno,
        </if>
        <if test="mdkno != null">
            mdkno,
        </if>
        <if test="tdkbno != null">
            tdkbno,
        </if>
        <if test="mdkbno != null">
            mdkbno,
        </if>
        <if test="createdTime != null">
            created_time
        </if>
    </select>

    <select id="listPager" resultType="com.animo.pojo.Ydata" parameterType="com.animo.common.Pager">
       select * from ydata order by created_time  limit #{beginIndex}, #{pageSize}
    </select>

    <select id="count" resultType="long">
        select count(yid) from ydata
    </select>

    <select id="getYdataByTime" parameterType="java.lang.String" resultType="com.animo.pojo.Ydata">
        select * from ydata where  created_time = #{time}
    </select>
</mapper>